.app{
  color: aliceblue;
  font-weight: bold;
  width: 100%;
}
.h1{
   margin: auto;
   padding-top: 15px;
   background-color: black;
   height: 75px;
   color: white;
   text-align: center;
   position: sticky;
   
}

.addtodo {
  padding: 10px;
  height: 80px;
  background-color: blue;
  width: 80%;
  margin: auto;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
}
/* .input{
  margin: auto;
  height: 25px;
  width: 250px;
  border-radius: 5px;
  outline: none;
  display: flex;
  justify-content: center;
 
}
.btn {
  color: white;
  font-weight: bold;
  height: 40px;
  width: 150px;
  background-color: gold;
  border-radius: 15px;
  outline: none;
  
} */